.logo {font-family:Verdana,Tahoma,Arial;font-size:11px;color:#006699;}
.body {font-family:Tahoma,Verdana,Arial;color:#000000;background-color:#ffffff;}
.info {font-family:Tahoma,Verdana,Arial;font-size:9px;}
.info a:link,a:visited {font-family:Tahoma,Verdana,Arial;color:#0000FF;font-size:9px;text-decoration:none;}
.title {font-family:Tahoma,Verdana,Arial;font-size:11px;color:darkblue;background-color:#ffffff;}
.title2 {font-family:Tahoma,Verdana,Arial;font-size:11px;color:darkblue;background-color:#ffffff;text-align:left;}
.title3 {font-family:Tahoma,Verdana,Arial;font-size:11px;color:darkblue;background-color:#ffffff;text-align:right;}
.header {font-family:Tahoma,Verdana,Arial;font-size:9px;color:darkblue;background-color:#dddddd;text-align:left;border-right:1px solid #666666;border-bottom:1px solid #666666;}
.header2 {font-family:Tahoma,Verdana,Arial;font-size:9px;color:darkblue;background-color:#dddddd;text-align:right;border-right:1px solid #666666;border-bottom:1px solid #666666;}
.header3 {font-family:Tahoma,Verdana,Arial;font-size:9px;color:darkblue;background-color:#dddddd;text-align:center;border-right:1px solid #666666;border-bottom:1px solid #666666;}
.text {font-family:Tahoma,Verdana,Arial;color:#000000;font-size:9px;}
.data {font-family:Tahoma,Verdana,Arial;color:#000000;font-size:9px;background-color:lavender;text-align:right;border-right:1px solid #6A5ACD;border-bottom:1px solid #6A5ACD;}
.data a:link,a:visited {font-family:Tahoma,Verdana,Arial;color:#0000FF;font-size:9px;background-color:lavender;text-align:right;text-decoration:none;}
.data2 {font-family:Tahoma,Verdana,Arial;color:#000000;font-size:9px;background-color:lavender;border-right:1px solid #6A5ACD;border-bottom:1px solid #6A5ACD;}
.data2 a:link,a:visited {font-family:Tahoma,Verdana,Arial;color:#0000FF;font-size:9px;background-color:lavender;text-decoration:none;}
.data3 {font-family:Tahoma,Verdana,Arial;color:#000000;font-size:9px;text-align:center;background-color:lavender;border-right:1px solid #6A5ACD;border-bottom:1px solid #6A5ACD;}
.data3 a:link,a:visited {font-family:Tahoma,Verdana,Arial;color:#0000FF;font-size:9px;text-align:center;background-color:lavender;text-decoration:none;}
.text {font-family:Tahoma,Verdana,Arial;color:#000000;font-size:9px;text-align:right;}
.link {font-family:Tahoma,Verdana,Arial;font-size:9px;color:#0000FF;}
.link a:link,a:visited {font-family:Tahoma,Verdana,Arial;font-size:9px;color:#0000FF;text-decoration:none;}
input { background-color: #ffffff;border-bottom: #808080 1px solid;border-left: #808080 1px solid;border-right: #808080 1px solid;border-top: #808080 1px solid;color: #000000;font-family: Arial, sans-serif;font-size: 9px;}
select {font-size: 9px;}
